@font-face{
	font-family: myFont;
	src: url("fonts/OpenSans-Regular.ttf");
	font-weight: normal;
}
@font-face{
	font-family: myFont;
	src: url("fonts/OpenSans-Bold.ttf");
	font-weight: bold;
}
@font-face{
	font-family: myFont;
	src: url("fonts/OpenSans-SemiBold.ttf");
	font-weight: 500;
}
@font-face{
	font-family: myFont;
	src: url("fonts/OpenSans-Light.ttf");
	font-weight: 300;
}
body{
	margin: 0px;
	font-family: myFont;
	overflow-x: hidden;
}
div{
	float: left;
	width: 100%;
	box-sizing: border-box;
}
.header{
	padding: 15px 50px;
	background-color: #ffffff;
}
.header-logo{
	width: auto;
	padding: 15px 50px;
}
.header-logo img{
	width: 90px;
}
.menu-holder{
	float: right;
	width: auto;
	padding: 20px 0;
}
.menu-button{
	width: 30px;
	cursor: pointer;
	margin-right: 50px;
	background-color: transparent;
	border: none;
}
.menu-button .me-nu{
	width: 28px;
	height: 2px;
	background-color: #1a1a1a;
	margin: 3px 0;
}
.menu-button .menu{
	width: 18px;
	height: 2px;
	background-color: #1a1a1a;
	margin: 3px 0;
}
.topnav{
 	position: fixed;
 	z-index: 10;
 	padding: 0px 20px; 
 	width: 100%;
 	height: 600px;
 	top: -600px;
 	transition: top 0.3s ease-out;
 	background-color: #ffffff;
 	float: right;
 	border: none;
}
.topnav a{
  display: inline-block;
  color: #000000;
  padding: 10px 0px;
  width: 200px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  margin-right: 130px;
  letter-spacing: 1px;
}
.topnav a.wide{
	display: block;
}
.menu-item{
	padding: 50px 250px;
}
.menu-close-button{
	width: 50px;
	height: 50px;
	background-color: transparent;
	border: none;
	float: right;
	font-weight: 500;
	font-size: 18px;
	margin-top: 20px;
	cursor: pointer;
}
.menu-close-button img{
	width: 30px;
}
.menu-button-inside{
	margin-right: 150px;
	background-color: transparent;
	border: none;
}
.menu-button img{
	width: 90px;
	float: right;
}
.menu-side-button{
	color: #000000;
	border: 2px solid #000000;
	border-radius: 5px;
	padding: 5px 10px;
	background-color: #ffffff;
	margin: 0px 0px 0px 10px;
	display: inline-block;
	text-decoration: none;
}
.banner{
	overflow: hidden;
	background-color: #ffffff;
	height: 100vh;
	min-height: 500px;
}
.banner-text h1{
	text-align: center;
	font-size: 60px;
	margin-top: 10px;
	margin-bottom: 40px;
	line-height: 1.4;
}
.banner-text .color{
	color: #0086b3;
}
.button{
	text-align: center;
}
.button a{
	display: inline-block;
	padding: 10px 40px;
	text-decoration: none;
	font-weight: 500;
	color: #000000; 
	font-size: 18px;
	border: 2px solid #000000;
	border-radius: 5px;
	background-color: #ffffff;
}
.second-section{
	padding: 0px 400px 60px; 
	background-color: #ffffff;
	text-align: center;
	letter-spacing: 1px;	
	font-size: 16px;
	line-height: 1.5;
}
.second-section h1{
	margin: 0;
	font-size: 50px;
	font-weight: 500;
}
.third-section{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 250px;
	width: calc(25% - 10px);
	margin: 0 5px; 
}
.third-section h3{
	text-align: center;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 5px;
	letter-spacing: normal;
}
.overlay{
	color: white;
	position: absolute;
	width: 100%;
	height: 250px;
	z-index: 10;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 20px 50px;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 300;
}
.read-more-btn{
	display: inline-block;
	padding: 3px 15px;
	text-decoration: none;
	font-size: 12px;
	border: 1px solid #ffffff; 
	border-radius: 5px;
	color: #ffffff;
	margin-top: 15px;
}
.fourth-section-wrap{
	padding: 100px 200px 50px;
}
.fourth-section{
	width: 40%;
	font-size: 25px;
	background-color: #ffffff;
	text-align: right;
	padding: 30px;
	line-height: 25px;	
}
.fourth-section h1{
	margin-top: 0;
	font-size: 50px;
	font-weight: 500;
}
.fourth-section-side{
	width: 60%;
	letter-spacing: 1px;	
	font-size: 16px;
	line-height: 1.5;
}
.fourth-section-side a{
	text-decoration: none;
	color: #000;
	font-weight: bold;
}
.js-number{
	width: 30%;
	padding: 50px 0;
}
.js-number span{
	color: green;
	font-size: 40px;
	font-weight: 500; 
}
.js-number2{
	width: 30%;
	padding: 50px 0;
}
.fourth-section-wrap .js-number2 span{
	color: blue;
	font-size: 40px;
	font-weight: 500; 
}
.fifth-section-wrap{	
	background-color: #ffffff;
	padding: 0px 120px;
}
.fifth-section-wrap p{
	font-size: 25px;
	text-align: center;
	font-weight: 500;
	margin-bottom: 50px;
}
.fifth-section-wrap .work1{
	background-image: url("images/bag.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: calc(60% - 24px);
	height: 350px;
	margin: 0px 12px 0px 12px;
}
.work1 .work1-text{
	color: #ffffff;
	font-size: 20px;
	font-weight: 300;
	text-align: left;
	padding: 0px 0px 0px 20px;
	letter-spacing: 1px;
}
.fifth-section-wrap .work2{
	background-image: url("images/table.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: calc(40% - 24px);
	height: 350px;
	margin: 0px 12px 0px 12px;
}
.work2 .work2-text{
	color: #ffffff;
	font-size: 20px;
	font-weight: 300;
	text-align: left;
	padding: 0px 0px 0px 20px;
	letter-spacing: 1px;
}
.sixth-section-wrap{
	background-color: #ffffff;
	padding: 0px 120px;
}
.sixth-section-wrap .work3{
	background-image: url("images/wide.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: calc(100% - 24px);
	height: 350px;
	margin: 25px 12px 25px 12px;
}
.work3 .work3-text{
	color: #ffffff;
	font-size: 20px;
	font-weight: 300;
	text-align: left;
	padding: 0px 0px 0px 20px;
	letter-spacing: 1px;
}
.seventh-section-wrap{
	background-color: #ffffff;
	padding: 0px 120px;	
}
.seventh-section-wrap .work4{
	background-image: url("images/wide-space.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: calc(40% - 24px);
	height: 350px;
	margin: 0px 12px 0px 12px;
}
.seventh-section-wrap .work5{
	background-image: url("images/window.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: calc(60% - 24px);
	height: 350px;
	margin: 0px 12px 0px 12px;
}
.all-work{
	text-align: center;
	padding: 20px 0 50px;
}
.after-work-button{
	display: inline-block;
	padding: 10px 40px;
	text-decoration: none;
	font-weight: 500;
	color: #000000; 
	font-size: 18px;
	border: 2px solid #000000;
	border-radius: 5px;
	background-color: #ffffff;
}
.eight-section-wrap{
	padding: 50px 120px 0px 120px;
}
.eight-section-wrap {
	font-size: 22px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 1.5;
	text-align: left;
}
.ninth-section-wrap{
	padding: 20px 120px 90px;
}
.ninth-section-wrap img{
	height: 70px;
	margin: 20px 80px 20px 0px;
	display: inline-block;
}
.eleven-section-wrap{
	border-color: #ffffff;
	padding: 0 120px;
}
.eleven-section-wrap h2{
	font-size: 22px;
	padding-bottom: 20px;
}
.testimony1-wrap{
	min-height: 200px;
	width: 50%;
	padding: 0px 20px;
}
.testimony1-wrap .testimony1{
	width: 30%;
}
.testimony1-wrap img{
	width: 100%;
	border-radius: 50%;
}
.testimony1-wrap .testimony1-text{
	width: 70%;
	padding-left: 30px;
	font-size: 16px;
	letter-spacing: 1px;
}
.testimony1-wrap .testimony1-text h3 {
	margin-top: 0;
	margin-bottom: 10px;
}
.testimony1-wrap .testimony1-text span{
	color: #33cc00;	
	font-weight: normal;
}
.testimonials-button{
	display: inline-block;
	padding: 10px 40px;
	text-decoration: none;
	font-weight: 500;
	color: #000000; 
	font-size: 18px;
	border: 2px solid #000000;
	border-radius: 5px;
	background-color: #ffffff;
}
.twelve-section{
	padding: 0 200px;
	margin-top: 80px;
}
.get-in-touch{
	text-align: center;
	font-size: 16px;
	letter-spacing: 1px;
	margin-top: 20px;
	margin-bottom: 50px;
	color: #666666;
}
.get-in-touch h1{
	margin-top: 0;
	color: #000000;
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: 500;
}
.input{
	width: 50%;
	text-align: center;
}
.input input{
	outline: none;
	border: none;
	font-size: 16px;
	letter-spacing: 1px;
	padding: 5px;
	width: 60%;
  	border-bottom: 1px solid #666666;
}
.input-mail{
	width: 100%;
	float: left;
	box-sizing: border-box;
}
.input-mail input{
	outline: none;
	border: none;
	width: 50%;
	font-size: 16px;
	letter-spacing: 1px;
	padding: 5px;
  	border-bottom: 1px solid #666666;
  	margin-right: 20px;
}
.send-message{
	text-align: center;
	padding: 50px 0;
}
.form-button{
	display: inline-block;
	padding: 10px 40px;
	text-decoration: none;
	font-weight: 500;
	color: #000000; 
	font-size: 18px;
	border: 2px solid #000000;
	border-radius: 5px;
	background-color: #ffffff;
}
.form-wrap{
	text-align: center;
	padding: 50px 0;
}
.sign-up-button{
	display: inline-block;
	padding: 10px 40px;
	text-decoration: none;
	font-weight: 500;
	color: #000000; 
	font-size: 18px;
	border: 2px solid #000000;
	border-radius: 5px;
	background-color: #ffffff;
}
.footer{
	background-color: #000000;
	padding: 50px 50px;
}
.first-footer{
	width: 33.333%;
}
.first-footer a{
	color: #ffffff;
	line-height: 50px;
	text-decoration: none;
	font-size: 16px;
}
.second-footer{
	width: 33.333%;
}
.second-footer a{
	color: #ffffff;
	line-height: 50px;
	text-decoration: none;
	font-size: 16px;
}
.third-footer{
	width: 33.333%;
	color: #ffffff;
	font-size: 16px;
}


/*product-page css*/
.page-title h1{
	text-align: left;
	font-size: 30px;
	padding: 0px 0px 0px 50px;
}
.third-section-wrap-product{
	padding: 20px 80px;
}
.third-section-product{
	text-align: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 250px;
	width: calc(33.333% - 20px);
	margin: 10px 10px;
}
.text-js{
	padding: 50px 50px 50px 50px;
}

#gallery{
	float: left;
	width: 100%;
	padding: 0px 50px 100px 50px;
}
#gallery-header{
	height: 100px;
}
#gallery-header-center{
	height: 100px;
}
#gallery-header-center-left{
	float: left;
	height: 35px;
	line-height: 35px;
	margin-top: 32px;
}
#gallery-header-center-left-icon{
	float: left;
	height: 35px;
	width: 35px;
	background-color: rgba(63,141,191,1);
	color: rgba(255,255,255,1);
	text-align: center;
	font-size: 20px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}
#gallery-header-center-left-icon:hover {
	background-color: rgba(63,141,191,0.5);
	cursor: pointer;
}
#gallery-header-center-left-title{
	float: left;
	height: 35px;
	font-size: 25px;
	color: #3f8dbf;
	margin-left: 20px;
}
#gallery-header-center-right{
	float: right;
	height: 35px;
	margin-top: 32px;
	text-align: center;
	line-height: 35px;
}
.gallery-header-center-right-links {
	color: #000000;
	border: none;
	background-color: #ffffff;
	height: 35px;
	padding-right: 20px;
	padding-left: 20px;
	margin-left: 20px;
	font-size: 16px;
	font-weight: 400;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}
.gallery-header-center-right-links:hover {
	color: #18aa00;
	cursor: pointer;
}
.gallery-header-center-right-links-current {
	border-bottom: 5px solid #18aa00;
}
.gallery-header-center-right-links-current:hover {
	background-color: rgba(63,141,191,0.5);
}
#gallery-content{
	float: left;
	width: 100%;
}
.gallery-content-center-normal {
	margin-right: auto;
	margin-left: auto;
}
.gallery-content-center-full {
	float: left;
	width: 100%;
}
#gallery-content-center img {
	width: calc(50% - 30px);
	margin: 15px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
#gallery-content-center img.w-3x1 {
	width: calc(100% - 30px);
}
#gallery-content-center img.w-2x1 {
	width: calc(66.666% - 30px);
}
#gallery-content-center img.w-1x1 {
	width: calc(33.333% - 30px);
}
.product-button a{
	text-decoration: none;
	color: #000000;
	font-weight: bold; 
	font-size: 18px;
}
.product-button{
	float: right;
	padding: 10px 25px;
	height: 50px;
	border: 2px solid #000000;
	border-radius: 5px;
	margin-right: 20px;
	width: 100px;
	background-color: #ffffff;
}


/*shop-page css*/
.pages-link{
	float: right;
	width: auto;
	background-color: transparent;
	border: none;
}
.pages-link a{
	margin-right: 20px;
	text-decoration: none;
	display: inline-block;
	color: #000000;
	font-size: 16px;
}
.menu-side-button1{
	color: #000000;
	border: 2px solid #000000;
	border-radius: 5px;
	padding: 10px 20px;
	background-color: #ffffff;
	margin: 25px 0px 0px 0px;
	display: inline-block;
	text-decoration: none;
}
.search-box{
	text-align: center;
	padding: 20px 50px;
}
.search-box input{
	padding: 0 20px;
	width: 30%;
	border: 1px solid;
	outline: none;
	height: 50px;
	border-radius: 50px;
	border-color: grey;
}
.search-box button{
	color: #ffffff;
	height: 50px;
	outline: none;
	border: 1px solid;
	text-decoration: none;
	width: 15%;
	background-color: green;
	border-radius: 50px;
	border-color: green;
	font-size: 18px;
}
.pic-text{
	padding: 0px 200px 50px;
}
.create-an-order{
	margin-top: 50px;
	width: 50%;
}
.create-an-order h1{
	font-size: 50px;
}
.create-img{
	width: 50%;
}
.create-img img{
	width: 100%;
}
.wrap-wrap{
	width: 100%;
	padding: 0 120px;
}
.section-wrap{
	width: 25%;
	padding: 0 15px;
	margin-bottom: 20px;
	font-weight: bold;
}
.third-section1{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 250px;
}
.request-section-wrap{
	padding: 50px 400px;
}
.request-img{
	width: 50%;
}
.request-img img{
	width: 80%;
}
.request-section-side{
	width: 50%;
	font-size: 16px;
	text-align: center;
}
.request-section-side h2{
	padding: 30px 0;
}
.button3 a{
	text-decoration: none;
	color: #ffffff;
	padding: 10px 50px;
	font-weight: normal; 
	font-size: 20px;
	border: 2px solid red;
	border-radius: 10px;
	background-color: red;
}
.pre-footer-wrap{
	padding: 70px 0;
}
.pre-footer-section{
	background-image: url("images/stickers.jpg");
	height: 250px;
	position: relative;
	width: calc(20% - 10px);
	margin: 0 05px;
}
.pre-footer-section .button a{
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
}
.pre-footer-section .button{
	height: 40px;
	border: 2px solid #ffffff;
	border-radius: 5px;
	width: 170px;
	padding: 05px 0px 05px 30px;
	background-color: #ffffff;
	margin: 150px 0px 0px 40px;
}

/* Tablet: */
@media only screen and (max-width: 768px) {
	.second-section-wrap{
		padding: 80px 0;
	}	
	.second-section{
		padding: 0px 200px 50px;
	}
	.banner{
		height: auto;
	}
	.third-section{
		width: calc(50% - 20px);
		margin: 10px 10px;
	}
	.fourth-section-wrap{
		padding: 100px 50px;
	}
	.fourth-section{
		font-size: 20px;
		padding: 0;
		text-align: center;
	}
	.fourth-section-side{
		width: 100%;
		font-size: 18px;
	}
	.js-number{
		padding: 30px 0; 
	}
	.js-number2{
		padding: 30px 0;
	}
	.js-number2 span{
		font-size: 30px;
	}
	.js-number span{
		font-size: 30px;
	}
	.tenth-section-wrap{
		padding: 30px 0px 40px 75px;
	}
	.eight-section-wrap p{
		font-size: 20px;
	}
	.ninth-section-wrap{
		padding: 30px 25px;
	}
	.ninth-section-wrap img{
		height: 50px;
		margin: 20px 25px;
		display: inline-block;
	}
	.testimony1-wrap{
		width: 100%;
		padding: 50px 20px;
	}
	.create-an-order{
		margin-top: 25px;
	}
	.create-an-order h1{
		font-size: 25px;
	}
	.request-img img{
		width: 100%;
	}
	.request-section-wrap{
		padding: 50px 100px;
	}
	.wrap-wrap{
		width: 100%;
		padding: 0 60px;
	}
	.header-logo{
		padding: 0;
		padding-top: 30px;
	}
	.request-section-side{
		padding-top: 50px;
	}
	.pic-text{
		padding: 50px 200px 100px;
	}
	.input-mail input{
		width: 25%;
	}
	.menu-holder{
		padding: 20px 20px;
	}
}

/* Mobile Phone: */
@media only screen and (max-width: 360px) { 
	.mobileHide { 
		display: none ! important;
	}
	.header{
		padding: 0px 20px 15px;
		background-color: #ffffff;
	}
	.mobile-right{
		float: right;
		position: inline block;
	}
	.mobile-left{
		float: left;
	}
	.menu-holder{
		padding: 30px 0px 30px 50px;
	}
	.menu-button{
		margin-right: 20px;
	}
	.menu-item{
		padding: 25px 50px;
	}
	.topnav{
		height: 500px;
	}
	.topnav a{
		font-size: 18px;
		font-weight: 500;
	}
	.topnav a.wide{
		display: inline-block;
	}
	.banner{
		min-height: 0px;
	}
	.banner .button{
		padding: 10px 25px;
		font-size: 16px;
	}
	.second-section{
		padding: 0 20px;
	}
	.second-section h1{
		font-size: 30px;
	}
	.third-section-wrap{
		padding: 20px;
	}
	.third-section{
		width: 100%;
		margin: 10px 0;
	}
	.fourth-section-wrap{
		padding: 25px 35px;
	}
	.fourth-section{
		width: 100%;
		padding: 
	}
	.fourth-section-side{
		width: 100%;
	}
	.js-number{
		padding: 30px 0px; 
		width: 50%;
	}
	.js-number2{
		padding: 30px 0px;
		width: 50%;
	}
	.js-number2 span{
		font-size: 25px;
	}
	.js-number span{
		font-size: 25px;
	}
	.fifth-section-wrap{
		padding: 0px 10px;
	}
	.sixth-section-wrap{
		padding: 0px 10px;
		height: 200px;
	}
	.seventh-section-wrap{
		padding: 0px 10px;
		margin: 0;
	}
	.fifth-section-wrap .work1{
		width: 100%;
		height: 200px;
		margin: 10px 0;
	}
	.fifth-section-wrap .work2{
		width: 100%;
		height: 200px;
		margin: 10px 0;
	}
	.sixth-section-wrap .work3{
		width: 100%;
		height: 200px;
		margin: 10px 0;
	}
	.seventh-section-wrap .work4{
		width: 100%;
		height: 200px;
		margin: 10px 0;
	}
	.seventh-section-wrap .work5{
		width: 100%;
		height: 200px;
		margin: 10px 0;
	}
	.eleven-section-wrap .eight-section-wrap{
		padding: 0 25px; 
	}
	.ninth-section-wrap{
		text-align: center;
		padding: 30px 20px;
	}
	.ninth-section-wrap img{
		width: 25%;
	} 
	.testimony1-wrap img{
		width: 80%;
		display: block;
		margin: auto;
	}
	.testimony1-wrap{
		padding: 20px 0;
	}
	.testimony1-wrap .testimony1{
		width: 100%;
		padding: 0;
	}
	.testimony1-wrap .testimony1-text{
		width: 100%;
		padding: 10px 0;
		text-align: center;
	}
	.testimonials-button{
		font-size: 16px;
		padding: 5px 15px;
	}
	.get-in-touch h1{
		font-size: 25px;
		padding: 0 10px;	
	}
	.get-in-touch{
		padding: 0 10px;
		margin-bottom: 20px;
	}
	.twelve-section{
		padding: 0px 0px 50px;
	}
	.input{
		width: 100%;
		margin: 20px 0;
		padding: 0 25px;
	}
	.input input{
		width: 100%;
	}
	.send-message{
		padding: 20px 0;
	}
	.form-button{
		padding: 5px 15px;
		font-size: 16px;
	}
	.form-wrap{
		padding: 30px 0;
	}
	.input-mail input{
		width: 50%;
	}
	.sign-up-button{
		padding: 5px 15px;
		font-size: 16px;
	}
	.first-footer{
		width: 100%;
	}
	.second-footer{
		width: 100%;
	}
	.third-footer{
		width: 100%;
	}


	/*product page*/
	.banner-text h1{
		font-size: 30px;
	}	
	.page-title h1{
		font-size: 18px;
		padding: 0 25px;
	}
	.third-section-wrap-product{
		padding: 0 20px;
	}
	.third-section-product{
		width: 100%;
		margin: 10px 0;
	}
	#gallery{
		padding: 20px 20px 50px;
	}
	#gallery-content-center img{
		width: 100%;
		margin: 10px 0;
	}
	.gallery-header-center-right-links{
		margin: 0;
		padding: 0 5px;
		font-size: 14px;
	}

	/*shop page*/
	.pages-link{
		padding-top: 20px;
	}
	.pages-link a{
		margin: 0;
	}
	.header-logo{
		padding-top: 20px;
	}
	.menu-side-button1{
		padding: 05px 10px;
		font-size: 16px;
	}
	.search-box{
		padding: 10px 0px;
	}
	.search-box input{
		width: 30%;
		height: 30px;
		border-radius: 25px;
	}
	.search-box button{
		height: 30px;
		width: 25%;
		border-radius: 25px;
	}
	.pic-text{
		text-align: center;
		padding: 30px 20px;
	}
	.create-an-order{
		margin-top: 0;
		font-size: 18px;
	}
	.create-img img{
		width: 100%;
	}
	.wrap-wrap{
		padding: 0 20px;
	}
	.section-wrap{
		width: 50%;
	}
	.third-section1{
		height: 150px;
	}
	.request-section-wrap{
		padding: 25px 30px;
	}
	.request-section-side{
		padding: 0;
	}
	.request-section-side h2{
		font-size: 22px;
		padding: 0;
	}
	.button3 a{
		padding: 5px 15px;
		font-size: 16px;
	}
	.pre-footer-wrap{
		padding: 0 30px 50px;
	}
	.pre-footer-section{
		width: 100%;
		margin: 10px 0;
	}
}